<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="fragments/head :: head">
    <title>Cadastro de usuário</title>
  </head>
  <body>
    <div class="container mt-5" style="width: 500px">
      <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
      <div class="card">
        <div class="card-header">Cadastro de usuário</div>
        <form
          th:object="${usuarioDto}"
          action="/usuario/novo"
          class="card-body"
          method="POST"
        >
        <input th:field="*{id}" type="hidden"/>
          <div class="mb-3 col align-self-center">
            <label for="cpf" class="form-label">Código</label>
            <input
              th:field="*{codigo}"
              th:errorclass="is-invalid"            
              type="text"
              class="form-control"
              name="codigo"
              placeholder="Informe o código"
            />
            <small class="invalid-feedback" th:errors="*{codigo}"></small>            
          </div>
          <div class="mb-3 col align-self-center">
            <label for="nome" class="form-label">Nome</label>
            <input
              th:field="*{nome}"
              th:errorclass="is-invalid"             
              type="text"
              class="form-control"
              name="nome"
              placeholder="Informe o nome"
            />
            <small class="invalid-feedback" th:errors="*{nome}"></small> 
          </div>
          <div class="mb-3 col align-self-center">
            <label for="cpf" class="form-label">CPF</label>
            <input
              th:field="*{cpf}"
              th:errorclass="is-invalid"                         
              type="text"
              class="form-control"
              placeholder="Informe o cpf"
            />
            <small class="invalid-feedback" th:errors="*{cpf}"></small>
          </div>

          <div class="mb-3 col align-self-center">
            <label for="senha" class="form-label">Senha</label>
            <input
              th:field="*{senha}"
              th:errorclass="is-invalid"    
              type="password"
              class="form-control"
              placeholder="Informe a senha"
            />
            <small class="invalid-feedback" th:errors="*{senha}"></small>
          </div>

          <div class="mb-3" sec:authorize="hasAnyAuthority('ADMIN')">
            <label>Perfil:</label>
            <select 
              th:field="*{id_perfil}" 
              class="form-select" aria-label="Default select example"
            >
              <!-- <option selected th:value="*{id_perfil}" th:text="*{p.id_perfil}"></option> -->
              <option 
                th:each="p : ${listaPerfils}" 
                th:value="${p.id}" 
                th:text="${p.tipo}"
                th:field="*{id_perfil}" />
            </select>          
          </div>          
          <div>
            <input
              class="btn btn-success btn-lg"
              type="submit"
              value="Salvar"
            />
            <div sec:authorize="isAuthenticated()">
              <a href="/usuario/viewUsuarios" class="link-secondary d-flex justify-content-end">voltar</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
              <a href="/login" class="link-secondary d-flex justify-content-end">voltar</a>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>    
  </body>
</html>
