<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Lista de usuários</title>
  </head>
  <body>
    <div th:replace="fragments/topnav :: navbar"></div>
    <div class="container-sm mt-3">
      <div class="d-flex justify-content-between">
        <h3 class="mb-3">Lista de usuários cadastrados</h3>
        <a th:href="@{/usuario/cadastro}" class="btn btn-success btn-lg mb-2 mt-2">Novo</a>
      </div>
      <div>
        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
      </div>
      <table class="table">
        <thead class="table-dark">
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <th:block th:each="user : ${usuarios}">
            <tr>
              <td th:text="${user.codigo}"></td>
              <td th:text="${user.nome}"></td>
              <td th:text="${user.cpf}"></td>
              <td>
                <a 
                  data-bs-toggle="modal" 
                  th:attr="data-bs-target='#modal-delete'+${user.id}"
                  class="btn btn-danger btn-sm"
                >Excluir</a>                
                <a th:href="@{'/usuario/cadastro/' + ${user.id}}" class="btn btn-primary btn-sm">Editar</a>
              </td>
            </tr>
            <!-- Modal exluir -->
            <div class="modal modal-delete" th:id="modal-delete+${user.id}">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 id="delModalLabel">Excluir</h5>
                      </div>
                      <div class="modal-body">
                          O usuário será excluido, confirma esta ação?
                      </div>
                      <div class="modal-footer">
                        <a th:href="@{'/usuario/delete/' + ${user.id}}" class="btn btn-success btn-sm">Confirmar</a>
                          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                      </div>
                  </div>
              </div>
            </div>            
          </th:block>
        </tbody>
      </table>
    </div>
  </body>
</html>
