<!DOCTYPE html>
<html>
  <head th:replace="fragments/head :: head">
    <title>Lista de usuários</title>
  </head>
  <body>
    <div th:replace="fragments/topnav :: navbar"></div>
    <div class="container-sm mt-3">
      <div class="d-flex justify-content-between">
        <h3 class="mb-3">Lista de usuários cadastrados</h3>
        <a th:href="@{/usuario/cadastro}" class="btn btn-success btn-lg mb-2 mt-2">Novo</a>
      </div>
      <table class="table">
        <thead class="table-dark">
          <th>Código</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <th:block th:each="user : ${usuarios}">
            <tr>
              <td th:text="${user.codigo}"></td>
              <td th:text="${user.nome}"></td>
              <td th:text="${user.cpf}"></td>
              <td>
                <a th:href="@{'/usuario/delete/' + ${user.id}}" class="btn btn-danger btn-sm">Excluir</a>
                <a th:href="@{'/usuario/cadastro/' + ${user.id}}" class="btn btn-primary btn-sm">Editar</a>
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </div>
  </body>
</html>
