<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Cadastro de cursos</title>
  </head>
  <body>
    <div class="container mt-5 mb-5" style="width: 500px">
      <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
      <div class="card">
        <div th:if="${curso.id == null}" class="input-field card-header">Novo curso</div>
        <div th:unless="${curso.id == null}" class="input-field card-header">Edição de curso</div>
        <form
          th:object="${curso}"
          action="/home/curso/save"
          class="card-body"
          method="POST"
        >
        <input th:field="*{id}" type="hidden"/>
          <div class="mb-3 col align-self-center">
            <label for="cpf" class="form-label">Código</label>
            <input
              th:field="*{codigo}"
              th:errorclass="is-invalid"            
              type="text"
              class="form-control"
              name="codigo"
              placeholder="Informe o código"
            />
            <small class="invalid-feedback" th:errors="*{codigo}"></small>            
          </div>
          <div class="mb-3 col align-self-center">
            <label for="nome" class="form-label">Nome</label>
            <input
              th:field="*{nome}"
              th:errorclass="is-invalid"             
              type="text"
              class="form-control"
              name="nome"
              placeholder="Informe o nome"
            />
            <small class="invalid-feedback" th:errors="*{nome}"></small> 
          </div>
          <div class="mb-3 col align-self-center">
            <label for="vagas" class="form-label">Vagas</label>
            <input
              th:field="*{vagas}"
              th:errorclass="is-invalid"             
              type="number"
              class="form-control"
              name="nome"
              placeholder="Informe a quantidade de vagas"
            />
            <small class="invalid-feedback" th:errors="*{vagas}"></small> 
          </div>     
          <div class="mb-3 col align-self-center"> 
            <label for="disciplinas" class="form-label">Selecione uma ou mais disciplinas</label>
            <select
              th:field="*{disciplinas}" 
              class="form-select" 
              multiple = "multiple"
              required>
              <th:block th:each="dis : ${listaDisciplinas}">
                <option th:value="${dis.id}" th:text="${dis.nome}"/>
              </th:block>
            </select> 
          </div>
          <div>
            <input
              class="btn btn-success btn-lg"
              type="submit"
              value="Salvar"
            />
            <a href="/home/disciplina/viewDisciplinas" class="link-secondary d-flex justify-content-end">voltar</a>
          </div>
          </div>
        </form>
      </div>
    </div>    
  </body>
</html>
