<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Lista de cursos</title>
  </head>
  <body>
    <div th:replace="fragments/topnav :: navbar"></div>
    <div class="container-sm mt-3">
      <div class="d-flex justify-content-between">
        <h3 class="mb-3">Lista de disciplinas cadastradas</h3>
        <a th:href="@{/home/curso/new}" class="btn btn-success btn-lg mb-2 mt-2">Novo</a>
      </div>
      <table class="table">
        <thead class="table-dark">
          <th>Código</th>
          <th>Nome</th>
          <th>Disciplinas</th>
          <th sec:authorize="hasAnyAuthority('ADMIN')">Ações</th>
        </thead>
        <tbody>
          <th:block th:each="curso : ${cursos}">
            <tr>
              <td th:text="${curso.codigo}"></td>
              <td th:text="${curso.nome}"></td>
              <td th:text="${curso.disciplinas}"></td>
              <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{'/home/curso/delete/' + ${curso.id}}" class="btn btn-danger btn-sm">Excluir</a>
                <a th:href="@{'/home/curso/edit/' + ${curso.id}}" class="btn btn-primary btn-sm">Editar</a>
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </div>
  </body>
</html>
