<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Cadastro de disciplina</title>
  </head>
  <body>
    <div class="container mt-5" style="width: 500px">
      <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
      <div class="card">
        <div class="input-field card-header">Cadastro de disciplina</div>
        <form
          th:object="${disciplina}"
          action="/home/disciplina/novo"
          class="card-body"
          method="POST"
        >
        <input th:field="*{id}" type="hidden"/>
          <div class="mb-3 col align-self-center">
            <label for="cpf" class="form-label">Código</label>
            <input
              th:field="*{codigo}"
              th:errorclass="is-invalid"            
              type="text"
              class="form-control"
              name="codigo"
              placeholder="Informe o código"
            />
            <small class="invalid-feedback" th:errors="*{codigo}"></small>            
          </div>
          <div class="mb-3 col align-self-center">
            <label for="nome" class="form-label">Nome</label>
            <input
              th:field="*{nome}"
              th:errorclass="is-invalid"             
              type="text"
              class="form-control"
              name="nome"
              placeholder="Informe o nome"
            />
            <small class="invalid-feedback" th:errors="*{nome}"></small> 
          </div>

          <label>Professor:</label>
          <select 
            th:field="*{professor}" 
            class="form-select mb-3" 
            aria-label="Default select example"
            required
          >
            <option 
              th:each="p : ${listaProfessores}" 
              th:value="${p.id}" 
              th:text="${p.nome}"
              th:field="*{professor}" />
          </select> 

          <div>
            <input
              class="btn btn-success btn-lg"
              type="submit"
              value="Salvar"
            />
            <a href="/home/disciplina/viewDisciplinas" class="link-secondary d-flex justify-content-end">voltar</a>
          </div>
          </div>
        </form>
      </div>
    </div>    
  </body>
</html>
