<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Lista de disciplinas</title>
  </head>
  <body>
    <div th:replace="fragments/topnav :: navbar"></div>
    <div class="container-sm mt-3">
      <div class="d-flex justify-content-between">
        <h3 class="mb-3">Lista de disciplinas</h3>        
        <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/disciplina/new}" class="btn btn-success btn-lg mb-2 mt-2">Nova</a>
      </div>
      <div>
        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
      </div>
      <table class="table">
        <thead class="table-dark">
          <th>Código</th>
          <th>Nome</th>
          <th>Professor</th>
          <th sec:authorize="hasAnyAuthority('ADMIN')">Ações</th>
        </thead>
        <tbody>
          <th:block th:each="dis : ${disciplinas}">
            <tr>
              <td th:text="${dis.codigo}"></td>
              <td th:text="${dis.nome}"></td>
              <td th:text="${dis.professor}"></td>
              <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{'/disciplina/delete/' + ${dis.id}}" class="btn btn-danger btn-sm">Excluir</a>
                <a th:href="@{'/disciplina/edit/' + ${dis.id}}" class="btn btn-primary btn-sm">Editar</a>
              </td>
            </tr>
          </th:block>
        </tbody>
        <tfoot sec:authorize="hasAnyAuthority('PROFESSOR')">
          <td> 
            Imprimir disciplinas
            <a th:href="@{'/report/disciplina/'+csv}" class="link-success" style="padding-left: 15px;">CSV</a>  
            <a th:href="@{'/report/disciplina/'+xls}" style="padding-left: 15px;">XLS</a> 
            <a th:href="@{'/report/disciplina/'+pdf}" style="padding-left: 15px;">PDF</a> 
          </td>
        </tfoot>        
      </table>

      <div th:if="${messageDoc}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

    </div>
  </body>
</html>
