<div th:fragment="navbar">
  <nav class="navbar navbar-dark bg-primary">
    
    <a class="nav-item link-light" href="/home/menu">
      <span style="font-size: 2rem">Universidade</span>  
    </a>
    <span sec:authorize="isAuthenticated()">Usuário logado: <span sec:authentication="name"></span>
    <br> 
      Perfil: <span sec:authentication="principal.authorities"></span><br>
      <a class="btn btn-dark" th:href="@{/logout}">Sair</a>
    </span>      
  </nav>
  <nav
    class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3"
  >
    <div class="navbar-nav">
      <div sec:authorize="hasAnyAuthority('ALUNO')">
        <a class="nav-item nav-link" href="">Inscrição</a>
      </div>      
      <div sec:authorize="hasAnyAuthority('ALUNO', 'ADMIN')">
        <a class="nav-item nav-link" href="/home/curso/viewCursos">Cursos</a>
      </div> 
      <div sec:authorize="hasAnyAuthority('PROFESSOR', 'ADMIN')">     
        <a class="nav-item nav-link" href="/home/disciplina/viewDisciplinas">Disciplinas</a>
      </div>
      <div sec:authorize="hasAnyAuthority('ADMIN')">     
        <a class="nav-item nav-link" href="/usuario/viewUsuarios">Usuários</a>
      </div>
    </div>    
  </nav>
</div>
