<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Cadastro de cursos</title>
  </head>
  <body>
    <div class="container mt-5 mb-5" style="width: 500px">
      <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
      <div class="card">
        <div th:if="${inscricao.id == null}" class="input-field card-header">Nova inscrição</div>
        <div th:unless="${inscricao.id == null}" class="input-field card-header">Altere o curso de sua inscrição</div>
        <form
          th:object="${inscricao}"
          action="/inscricao/save"
          class="card-body"
          method="POST"
        >
            <input th:field="*{id}" type="hidden"/>    
            <div class="mb-3 col align-self-center"> 
                <label for="curso" class="form-label">Selecione o curso</label>
                <select
                    th:field="*{curso}" 
                    class="form-select" 
                    required
                >
                <th:block th:each="curso : ${listaCursos}">
                    <!-- <option th:value="${curso.id}" th:text="${curso.nome}"/> -->
                    <option th:value="${curso.id}" th:text="${curso.nome}"/>
                </th:block>
                </select> 
            </div>
          <div>
            <input class="btn btn-success btn-lg" type="submit" value="Salvar"/>
            <a href="/inscricao/inscricoes" class="link-secondary d-flex justify-content-end">voltar</a>
          </div>
          </div>
        </form>
      </div>

    </div>    
  </body>
</html>
