<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="container mt-5" style="width: 300px">
      <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
      <div class="card">
        <div class="card-header">Login</div>
        <form
          th:object="${loginDto}"
          action="/login/sing-in"
          class="card-body"
          method="POST"
        >
          <div class="mb-3 col align-self-center">
            <label for="CPF" class="form-label">CPF</label>
            <input
              th:field="*{CPF}"
              th:errorclass="is-invalid"
              type="text"
              class="form-control"
              placeholder="Informe seu CPF"
            />
            <small class="invalid-feedback" th:errors="*{CPF}"></small> 
          </div>
          <div class="mb-3 col align-self-center">
            <label for="senha" class="form-label">Senha</label>
            <input
              th:field="*{senha}"
              th:errorclass="is-invalid"
              type="password"
              class="form-control"
              placeholder="Informe sua senha"
            />
            <small class="invalid-feedback" th:errors="*{senha}"></small> 
          </div>
          <div>
            <input class="btn btn-primary mb-4" type="submit" value="Entrar" />
          </div>
          <div class="d-flex justify-content-center">
            <a href="/usuario/cadastro" class="link-secondary">Cadastre-se</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
