<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head">
    <title>Erro</title>
  </head>
  <body
    th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}"
  >
    <div th:replace="fragments/topnav :: navbar"></div>
    <div class="container mt-3">
      <div class="alert alert-danger" role="alert">
        <h3 th:text="|${httpStatus} - ${httpStatus.reasonPhrase} - Página não encontrada|"></h3>
        <a href="/login" th:href="@{/login}" class="alert-link">Volte para o login</a><br>
        <a href="/login" th:href="@{/home/menu}" class="alert-link">Volte para o menu</a>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
      </div>
    </div>
  </body>
</html>
