<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Login - Spring Security Example</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"
  />    
  </head>
  <body>
    <div class="container mt-5" style="width: 300px">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Usuário ou senha inválidos.
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    Você deslogou do sistema.
                </div>
            </div>
        </div>
            
        <div class="card">
          <div class="card-header">Login</div>
          <form
            th:action="@{/login}"
            class="card-body"
            method="POST"
          >
            <div class="mb-3 col align-self-center">
              <label for="cpf" class="form-label">CPF</label>
              <input
                name="cpf"
                type="text"
                class="form-control"
                placeholder="Informe seu CPF"
              />
            </div>
            <div class="mb-3 col align-self-center">
              <label for="senha" class="form-label">Senha</label>
              <input
                name = "senha"
                type="password"
                class="form-control"
                placeholder="Informe sua senha"
              />
            </div>
            <div>
              <input class="btn btn-primary mb-4" type="submit" value="Entrar" />
            </div>
            <div class="d-flex justify-content-center">
              <a href="/usuario/cadastro" class="link-secondary">Cadastre-se</a>
            </div>
          </form>
        </div>
      </div>

    </div>
      


  </body>
</html>
