<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="container mt-5" style="width: 300px">
      <div class="card">
        <div class="card-header">
            Login
        </div>
        <form class="card-body">
            <div class="mb-3 col align-self-center">
                <label for="cpf" class="form-label">CPF</label>
                <input type="email" class="form-control" name="cpf" placeholder="Informe seu CPF">
            </div>
            <div class="mb-3 col align-self-center">
                <label for="senha" class="form-label">Senha</label>
                <input type="email" class="form-control" name="cpf" placeholder="Informe sua senha">
            </div>           
            <div>
                <input class="btn btn-primary mb-4" type="submit" value="Entrar">            
            </div>
            <div class="d-flex justify-content-center">
                <a href="/usuario/cadastro" class="link-secondary">Cadastre-se</a>
            </div>
          </form>
          
      </div>
    </div>
  </body>
</html>
